header {
    // height: 100px;
    width: 100%;
    nav {
        display: flex;
        width: 100%;
        position: fixed;
        background-color: #f8fafc;
        z-index: 20;
        top: 0;
        left: 0;
        justify-content: space-between;
        align-items: center;
        // margin: 20px auto 80px auto;
        padding: 10px 20px;
        
        .nav-left a {
            color: rgb(255, 56, 92);
            font-size: 30px;
            &:hover {
                text-decoration: none;
            }
        }

        .nav-right ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0;
            li {
                margin-left: 15px;
                // .btn:active {
                //   border-color: #ff385c;
                //   background-color: #ff385c;
                //   color: white;
                // }
                a {
                  width: 100px;
                }
                form {
                  input {
                    width: 100px;
                  }
                  input.search-btn {
                    color:white;
                    background-color: #ff385c;
                    opacity: 1;
                    border: 1px solid #ff385c;
                  }
                }
            }

            .hamburger-icon {
                display: none;
                margin: 0;
                font-size: 36px;
                a {
                    color: #ff385c;
                }
            }

            .user {
                position: relative;
                .dropdown {
                    display: none;
                    position: absolute;
                    top: 40px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                    ul {
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        padding: 0;
                        li {
                            margin: 10px 0 0 0;
                        }
                    }
                }
                &:hover .dropdown {
                    display: inline-block;
                }
            }

            .search-bar {
                width: 10px;
                margin: 0 10px 0 0;
                border: 2px solid #ff385c;
                border-radius: 4px;
                padding: 6px 6px 6px 30px;
                background-color: white;
                background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ad/VisualEditor_-_Icon_-_Search-big.svg");
                background-position: 5px 5px;
                background-repeat: no-repeat;
                font-size: 14px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                cursor: pointer;
                &:hover,
                &:active,
                &:focus {
                    width: 180px;
                    outline-width: 0; // per chrome
                    outline: none; // per safari
                }
            }
        }
    }

    .search-mobile {
        display: none;
        margin-top: 20px;
        text-align: center;
        .search-bar {
            width: 180px;
            margin: 0 10px 0 0;
            border: 2px solid #ff385c;
            border-radius: 4px;
            padding: 6px 6px 6px 30px;
            background-color: white;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ad/VisualEditor_-_Icon_-_Search-big.svg");
            background-position: 5px 5px;
            background-repeat: no-repeat;
            font-size: 14px;
            &:focus {
                outline-width: 0; // per chrome
                outline: none; // per safari
            }
        }
        input {
          width: 100px;
        }
          input.search-btn {
            color:white;
            background-color: #ff385c;
            opacity: 1;
            border: 1px solid #ff385c;
          }
    }
}


// css per hamburger menu (senza usare js)
.hamburger-nav {
  display: none;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 25px;
    right: 24px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/* hamburger drawing */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #ff385c;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* transform hamburger */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ff385c;
}

/* hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* last goes oppisite direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    border-radius: 10px;
    border: 2px solid #ff385c;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #f8fafc;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
    padding: 5px 0;
    font-size: 18px;
}

#menu a {
  width: 100px;
  margin-bottom: 10px;
}

/* fades from left */
#menuToggle input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
}

// media queries
@media screen and (max-width: 768px) {
    header.container {
        margin: 0;
    }

    // header nav {
    //     // margin: 20px auto 0 auto;
    // }
    .nav-left a{
        display: inline-block;
        margin-top: 2px;
    }
    .nav-right ul li {
        display: none;
    }

    header .search-mobile {
        display: block;
        margin-top: 100px;
    }

    .hamburger-nav {
      display: inline-block;
    }
}
