#h1_edit_user{
    width: 100%;
    h1{
        text-align: center;
    }
}
.edit-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;
    .edit-form {
        width: 40%;
        min-width: 360px;
        height: 100%;
        border-radius: 5px;
        border: 4px red solid;
        background-color: white;
        form{
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .label{
                color: #92174d;
                margin-bottom: 2px;
                font-size: 15px;
                font-weight: bold;
            }
            .input{
                margin-bottom: 6px;
                width: 70%;
                text-align: center;
                border: 2px solid #ff385c;
                border-radius: 10px;
                padding-top: 10px;
                padding-bottom: 5px;
                font-size: 18px;
            }
            #button{
                width: 70%;
                margin-top: 15px;
            }
        }
    }
}