// generali
.hidden {
    display: none;
}
.container {
    margin-bottom: 40px;
}
.submit {
    width: 200px;
    line-height: 30px;
    border-radius: 10px;
    color: white;
    transition: 0.6s;
    border: 1px solid lightgrey;
    background-color: $mainColor;
    background-size: 200% auto;
    &:hover{
      color: white;
      border: 1px solid lightgrey;
      background-color: $secondaryColor;
      background-position: right center;
      background-image: linear-gradient(to right, $mainColor 0%, $secondaryColor 51%, $mainColor 100%);
    }
}

h2 {
    color: #484848;
}
h3 {
    color: #484848;
}
.box-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;;
    height: 400px;
}
.box-promo{
    border: 1px solid $mainColor;
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    .promo-form{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 20px;
        display: inline-block;


        span{
            vertical-align: middle;
            font-size: 1.2rem;
            margin: 5px 8px 5px 0;
            padding: 3px;
        }
        input {
            vertical-align: middle;
            margin: 5px 10px 5px 0;
            padding: 10px;
            margin-bottom: 10px;
          }
        .submit{
            margin-left: 30px;
        }
    }
}
.box-desc {
    display: flex;
    margin-top: 20px;

    .box-info {
        margin: auto;
        max-width: 700px;
        #title {
            color: #484848;
        }
        p {
            color: #888888;
        }
    }
    .box-services{
        margin: auto;
        li {
            font-size: 17px;
            list-style: none;
            margin-bottom: 10px;
            .fas {
                color: $mainColor;
                margin-right: 10px;
            }
        }
    }
}
.box-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .image {
        width: calc(100% / 3 - 20px);
        overflow: hidden;
        max-height: 200px;
        margin: 10px;
        img {
            width: 100%;
        }
    }
}
.box-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .box-map {
        height: 300px;
        width: calc(100% / 2 - 20px);
        margin: 10px;
        text-align: center;
        background-color: lightgreen;

        #map {
            width: 100%;
            height: 100%;
        }
    }
    .box-extraService {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: calc(100% / 2 - 20px);


        .extra-service {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            .extra-title{
                width: 100%;
                text-align: center;
                color: $mainColor;
                margin-bottom: 20px;
            }
            span{
                line-height: 50%;
            }
            .extra-box{
                display: flex;
                flex-wrap: wrap;
                width: calc(100% / 3 - 20px);
                h2{
                    text-align: center;
                    width: 100%;
                    font-size: 1.4rem;
                }
                .fas {
                    color: $mainColor;
                    margin-right: 10px;
                }
            }
        }
    }
}
.mex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .box-message {
        width: 100%;
        text-align: center;
        .label{
            display: inline-block;
            width: 100px;
            vertical-align: top;
        }
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .input {
        width: 33%;
    }
    .submit{
        margin-left: 50px;
        margin-bottom: 20px;
    }
}
// Media Query
@media screen and (max-width: 768px) {
    .box-desc {
        display: block;
    }
    .box-images .image {
        width: calc(100% / 2 - 20px);
    }
    .box-bottom .box-map {
        width: calc(100% - 20px);
    }
    .box-bottom .box-message {
        width: calc(100% - 20px);
    }
    .box-bottom .box-extraService{
        width: calc(100% - 20px);
    }
}
@media screen and (max-width: 425px) {
    .box-images .image {
        width: calc(100% - 20px);
    }
}
