.jumbotron{
  position: relative;
  padding-top: 2rem;
  .promo-title{
    h1{
      text-align: center;
    }
  }
  .image-contatiner{
    position: relative;
    img{
      width: 100%;
      border-radius: 10px;
    }
    .destination{
      position: absolute;
      left: 36%;
      top: 10%;
      transform: translate(-40%, -40%);
      font-size: 45px;
      text-shadow: 3px 3px 3px #484848;
    }
  }
}

.container{
  .container-carousel{
    .promo h2{
      margin-top: 80px;
      margin-bottom: 40px;
      text-align: center;
      font-size: 35px;
      line-height: 35px;
      text-shadow: 1px 1px 2px #5bbaff;
    }

    // Carosello
    .box-carousel{
      max-width: 800px;
      margin: 0 auto;
      border: 2px solid lightgrey;
      border-radius: 10px;
      box-shadow: 0 0 50px #5bbaff;
      .carousel-inner {
        position: relative;
        height: 530px;
        overflow: hidden;
        border-radius: 10px;
        a img{
          width: 100%;
        }
        .carousel-caption{
          position: absolute;
          top: 445px;
          h4{
            text-shadow: 1px 1px 2px black;
          }
        }
      }
    }
  }
}

// JUMBOTRON FLAT
.jumbotron{
  padding-top: 3rem;
  h2{
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    text-shadow: 1px 1px 2px rgb(167, 25, 81);
  }
  .promo{
    margin-top: 60px;
    .row {
      display: flex;
      align-items: center;
    }
    a{
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      display: inline-block;
      width: calc(100% / 3 - 20px);
      color: black;
      border: 1px solid lightgrey;
      border-radius: 10px;
      box-shadow: 6px 7px 10px -4px rgba(0,0,0,0.60);
      &:hover{
        text-decoration: none;
        color: black;
      }
      .box-flat{
        min-height: 450px;
        border-radius: 10px 10px 0 0;
        div{
          width: 100%;
          height: 150px;
          overflow: hidden;
          position: relative;
          img{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .flat-info{
          padding: 10px;
          height: 100%;
          h3{
            font-size: 20px;
            margin-top: 10px;
            text-align: center;
            color: #ff385c;
            font-weight: bold
          }
          p{
            font-size: 16px;
            height: 100px;
          }
          p.ellipsis {
            display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 4;
            overflow: hidden;
          }
        }
      }
    }
  }
}

// MEDIA QUERY
// 992
@media screen and (max-width: 992px) {
  .container .container-carousel .box-carousel .carousel-inner{
    height: 480px;
    .carousel-caption {
      top: 400px;
    }
  }

  .promo .row a{
    width: calc(100% / 2 - 20px);
  }
}

// 768
@media screen and (max-width: 768px) {
  .container .container-carousel .box-carousel .carousel-inner{
    height: 395px;
    .carousel-item .d-md-block {
      display: block!important;
      .d-none {
        display: none!important;
      }
    }
    .carousel-caption {
      top: 295px;
    }
  }

  .jumbotron .image-contatiner .destination{
    font-size: 38px;
  }

  .jumbotron {
    padding-bottom: 25px;
    .promo .row a{
      width: calc(100% / 2 - 20px);
    }
  }
}

// 640
@media screen and (max-width: 640px) {
  .container .container-carousel .box-carousel .carousel-inner{
    height: 255px;
    .carousel-caption {
      top: 150px;
    }
  }
  .container .container-carousel .box-carousel .carousel-inner .carousel-caption {
    top: 150px;
  }

  .jumbotron .image-contatiner .destination{
    left: 30%;
    top: 18%;
    font-size: 36px;
  }

  .promo .row a{
    width: calc(100% - 20px);
  }
}

// 425
@media screen and (max-width: 425px) {
  .jumbotron  {
    .promo-title h1{
      font-size: 30px;
    }
    .image-contatiner .destination{
      left: 30%;
      top: 17%;
      font-size: 30px;
    }
  }

  .container .container-carousel {
    .promo h2{
      font-size: 28px;
      margin-bottom: 20px;
    }
    .box-carousel .carousel-inner{
      height: 225px;
      .carousel-caption {
        top: 130px;
        h4{
          font-size: 18px;
        }
      }
    }
  }

    // JUMBOTRON FLAT
  .jumbotron{
    padding-top: 2rem;
    h2{
      font-size: 28px;
    }
    .promo{
      margin-top: 20px;
      .row a{
        width: calc(100% - 20px);
      }
    }
  }
}
